  
<!DOCTYPE html>
<html lang="en">

  <table width="100%">
  <tr><td><br></td></tr>
  <tr><td><img height="50" width="200" src="https://sconely-test.herokuapp.com/images/logo/LogoJune5d.jpg"></td></tr>
  <tr><td><br><br></td></tr>
  <tr><td>Dear <%= @key.args.user_name_first %>, Thank you for your Sconely Order!</td><tr>
  <tr><td><br></td></tr>
  <tr><td>Order Number: <%= @key.order_id %></td></tr>
  <tr><td>Order Date: <%= @key.order_date %></td></tr>
  <tr><td><br></td></tr>
  <tr><td><br>Your delivery to Ross Edwards on monday at 11901</td></tr>
  <tr><td><br></td></tr>
  <tr><td>Delivery Address:</td></tr>
  <tr><td><%= @key.delivery_contact_address.street1 %>, Los Angeles ca, 90025</td></tr>
  <tr><td>Delivery Date Time:</td></tr>
  <tr><td>Monday January 1, 2017, between 9-11 am</td></tr>
  <tr><td><br></td></tr>
  <tr><td>Your contact information:</td></tr>
  <tr><td><br></td></tr>
  <tr><td><br>You have ordered the following items</td></tr>
  </table>
  <table width="100%">
  <%= for item <- @key.cart do %>
  <tr><td width="35%"><img width="25%" height="15%" src="https://sconely-test.herokuapp.com/images/menu/laci/zilla.jpg"></td><td><b><%= item.name %></b></td><td>quantity<b><%= item.quantity %></b></td></tr>
  <% end %>
  <tr><td>item name</td><td>/thumbnail image/</td><td>quantity</td></tr>
  </table>
  <table>
  <tr><td><br><br></td></tr>
  <tr><td>Subtotal Cost</td><td>$50.00</td></tr>
  <tr><td>Delivery Cost</td><td>$0.00</td></tr>
  <tr><td>Total Cost</td><td>$50.00<%= @key.total_cost %></td></tr>
  <tr><td><br><br></td></tr>
  <tr><td></td></tr>
  <tr><td>Billed to:</td></tr>
  <tr><td>Visa xxx-xxx-xxxx-<%= String.slice(@key.args.payment_method_card_number, String.length(@key.args.payment_method_card_number)-4..String.length(@key.args.payment_method_card_number)) %></td></tr>
  <tr><td><br>If you have any questions please contact us at:</td></tr>
  <tr><td><br></td></tr>
  <tr><td>Enjoy your scone!</td></tr>
  <tr><td><br></td></tr>
  <tr><td>Sconely yours,</td></tr>
  <tr><td>The Sconely Team</td></tr>
  <tr><td>social links</td></tr>
  </table>

</html>