<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>

  <body>
      <img src="/images/Scone_Home_logo_june_9_sm.jpg">

      <%= render @view_module, @view_template, assigns %>

    <script>

        //alert();
    
        $(document).ready(function() {

              //alert("hello");

              var order_items = [];

              //document.getElementById('txtFileUpload').addEventListener('change', upload, false);

              /*window.addEventListener("error", function (e) {
                 alert("Error occured: " + JSON.stringify(e));
                 return false;
              })

              $(window).error( 
                function(e, url, line){
                  //handle error
                  alert(JSON.stringify(e));
                }
              );*/


              $("#order_guests").click(function(){


                  //alert();
                  $("#order").html("add members<br>upload csv</br>add via csv<br><br><button id=\"order_guests_message\">Create Message</button>");


              });

              $(document).on("click", "#order_guests_message", function(){


                  //alert();
                  $("#order").html("Message to Guests/Stationary<br><textarea></textarea><br>Choose Stationary<br><table><tr><td>stationary</td><td>stationary</td></tr></table><br><br><button id=\"order_delivery_address_datetime\">Delivery Date and Time</button>");


              });

              $(document).on("click", "#order_guest_stationary", function(){


                  //alert();
                  $("#order").html("Choose Stationary<br><table><tr><td>stationary</td><td>stationary</td></tr></table><br><br><button id=\"order_delivery_address\">Delivery Date and Time</button>");


              });

              $(document).on("click", "#order_delivery_address_datetime", function(){


                  //alert();
                  $("#order").html("Delivery Adress/Date time<br><br><br><table width=\"100%\" border=\"0\"><tr><td width=\"50%\"><table border=\"0\"><tr><td>Address</td><td></td></tr><tr><td>Street1</td><td><input name=\"street\"></td></tr><tr><td>City1</td><td><input name=\"city\"></td></tr><tr><td>State</td><td><input name=\"state\"></td></tr></table></td><td><table><tr><td>date time of delivery</td></tr><tr><td>Date</td></tr><tr><td>Time</td></tr></table><tr><td><button id=\"order_payment\">Payment</button></td></tr></table>");


              });


              $(document).on("click", "#order_payment", function(){


                  //alert();
                  $("#order").html("Description of order-Total due including delivery cost<br><br>Payment<br><br><button id=\"next\">Submit Order</button>");


              });

              

              $("#order_no_guests").click(function(){


                  //alert();
                  $("#order").html("Add Items<br>your cart<br><br><table border=\"1\"><tr><td><table><tr><td>chocolate scones</td></tr><tr><td>image</td></tr><tr><td><select id=\"item_id_1\"><option value=\"\"></option><option value=\"1\">1</option></select></td></tr></table></td><td><table><tr><td>strawberry scones<td></tr><tr><td>image</td></tr><tr><td><select id=\"item_id_2\"><option value=\"\"></option><option value=\"2\">1</option></select></td></tr></table></td></tr></table><button id=\"order_delivery_address_datetime\">Delivery Address/Datetime</button>");


              });


              var cart = "";

              $(document).on("change", "select", function(e){


                  //alert(e.target.id);
                  //alert(e.target.value);

                  cart = cart + "" + e.target.id + " " + e.target.value + "<br>";

                  $("#cart").html(cart);

              });

          });
        
    </script>
    <br>
    <br>
    <br>
  </body>
</html>
