Thank you <%= @key[:first_name] %> <%= @key[:last_name] %>.  We have received your order for a Ruby Q.

<!DOCTYPE html>
<html lang="en">

  <table width="100%">
  <tr><td><img height="50" width="200" src="http://sconely-test.herokuapp.com/images/logo/LogoJune5d.jpg"></td></tr>
  <tr><td><br></td></tr>
  <tr><td>Dear <%= @key[:first_name] %> <%= @key[:last_name] %>,</td></tr>
  <tr><td><br><br><br><br></td></tr>
  <tr><td>Thanks,</td></tr>
  <tr><td>The Sconely Team</td></tr>
  </table>

</html>