          <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
          Payment
          <br>
          <div id="user_profile_payment"></div>
          <br>
          <script>

              var user_id = 1234;

          </script>
          <script src="/js/user_profile_payment.js"></script>

          