  
<!DOCTYPE html>
<html lang="en">

  <table width="70%">
    <tr><td><br></td></tr>
    <tr><td><img height="50" width="200" src="https://sconely-test.herokuapp.com/images/logo/LogoJune5d.jpg"></td></tr>
    <tr><td><br><br></td></tr>
    <tr><td>Dear <%= @key.args.user_first_name %>,</td></tr>
    <tr><td><br></td></tr>
    <tr><td>Thank you for your Sconely Order!</td><tr>
    <tr><td><br></td></tr>
  </table>
  <table width="50%">
    <tr><td width="15%">Order Number</td><td width="35%"><%= @key.admin_receipt_order_id %></td></tr>
    <tr><td>Order Date: </td><td><%= @key.order_datetime_formatted %></td></tr>
    <tr><td><br></td></tr>
  </table>
  <table width="50%">
    <tr><td>Your delivery is scheduled for <%= @key.delivery_date_formatted %>, between 9-11 am</td></tr>
    <tr><td><br></td></tr>
    <tr><td>Delivery Address:</td></tr>
    <tr><td><%= @key.delivery_address.street1 %>, <%= @key.delivery_address.city %> <%= @key.delivery_address.state %>, <%= @key.delivery_address.zipcode %></td></tr>
    <tr><td><br></td></tr>
    <tr><td><br>You have ordered the following items</td></tr>
    <tr><td><br></td></tr>
  </table>
  <table width="50%">
    <%= for item <- @key.cart_items do %>
    <tr><td><img width="50" height="50" src="https://sconely-test.herokuapp.com/images/menu/<%= String.downcase(item.menu_image_name) |> String.replace(" ", "") %>.jpg"></td><td><b><%= item.name %></b></td><td><b><%= item.quantity %></b></td></tr>
    <% end %>
  </table>
  <br/>
  <br/>
  <table width="40%">
    <tr><td><br><br></td></tr>
    <tr><td>Subtotal Cost</td><td>$<%= @key.subtotal_formatted %></td></tr>
    <tr><td>Delivery Cost</td><td><%= @key.delivery_cost %></td></tr>
    <tr><td>Discount</td><td><%= @key.promo_code_discount %></td></tr>
    <tr><td><b>Total Cost</b></td><td>$<%= @key.total_cost_formatted %></td></tr>
    <tr><td><br><br></td></tr>
    <tr><td></td></tr>
  </table>
  <table width="50%">
    <tr><td>Billed to:</td><td>Brand xxx-xxx-xxxx-<%= String.slice(@key.args.payment_method_card_number, String.length(@key.args.payment_method_card_number)-4..String.length(@key.args.payment_method_card_number)) %></td></tr>
  </table>
  <table width="100%">
    <tr><td colspan="3"><br>If you have any questions please contact us at eat@sconely.com</td></tr>
    <tr><td><br></td></tr>
    <tr><td>Enjoy!</td></tr>
    <tr><td><br></td></tr>
    <tr><td>Thank you,</td></tr>
    <tr><td>The Sconely Team</td></tr>
    <tr><td><br></td></tr>
  </table>
  <table>
    <tr><td><a href="http://www.twitter.com/sconelyla"><img src="https://sconely-test.herokuapp.com/images/twitter.png"></img></a></td><td><img src="https://sconely-test.herokuapp.com/images/facebook.png"></img></td><td><a href="http://www.instagram.com/sconelyla"><img src="https://sconely-test.herokuapp.com/images/instagram.png"></img></a></td></tr>
  </table>

</html>