    <table width="100%">  
      <tbody>
        <tr>
          <td width="35%">
          <td>
            <form action="/mobile/registration/2fa" method="post">
            <br>
            please enter code
            <br>
            <input name="code">
            <br>
            <br>
            <input type="submit">
            </form>
            <br>
          </td>
        </tr>
      </tbody>
    </table>
  