    <table width="100%">  
      <tbody>
        <tr>
          <td width="35%">
          <td>
            <form action="/register" method="post">
            <br>
            email<input name="email">
            <br>
            password<input name="password">
            <br>
            password<input name="password_again">
            <br>
            <input type="submit">
            </form>
            <br>
          </td>
        </tr>
      </tbody>
    </table>
  