  
<!DOCTYPE html>
<html lang="en">

  <table width="100%">
  <tr><td><br></td></tr>
  <tr><td><img height="50" width="200" src="https://sconely-test.herokuapp.com/images/logo/LogoJune5d.jpg"></td></tr>
  <tr><td><br><br></td></tr>
  <tr><td>Dear <%= @key["user_name_first"] %><%= @key["user_name_last"] %><%= @key["user_contact_email"] %><%= @key["user_contact_mobile"] %>,</td></tr>
  <tr><td><br></td></tr>
  <tr><td>Thank you for choosing <%= @key[:item_name] %> for <%= @key[:event_full_name] %>.</td></tr>
  <tr><td><br></td></tr>
  <tr><td>Enjoy your scone!</td></tr>
  <tr><td><br></td></tr>
  <tr><td>Sconely yours,</td></tr>
  <tr><td>The Sconely Team</td></tr>
  </table>

</html>