<a href="/admin/add_item">add item</a>
<br>
<a href="/admin/edit_item">edit item</a>
<br>
<a href="/admin/items">items</a>
<br>
<br>
<a href="/admin/orders">view orders</a>
<br>
users
<br>
analytics
<br>
<br>
