<table width="100%" border="0">
<tr><td width="5%"><td width="25%">
settings
<br>
payments
<br>
profile
<br>
<a href="/user/order">my order</a>
<br>
food allergies
<br>
<br>
<form action="/user" method="post" enctype="multipart/form-data">
<input type="file" name="photo">
<br>
<input type="submit">
</form>
</td>
<td valign="top">
Photo
<br>
food profile
<br>
payment
<br>
password
</td>
</tr>
</table>

