<!DOCTYPE html>

<head>

<style>

		@media screen and (min-width: 400px){
		    .mobile {
		        display:none !important;
		        line-height: 1.5 !important;
		        max-height: none !important;
		    }
		 }
	
</style>
</head>



<html lang="en">
	<table bgcolor="" width="100%">
		<tr><td width="25%"></td><td width="50%">Sconely.com</td></tr>
		<tr><td>order processed from email <%= @key["order_contact_email"] %></td></tr>
		<tr><td>pickup<%= @key["order_contact_mobile"] %></td></tr>
		<tr><td>pickup<%= @key["order_first_name"] %></td></tr>
		<tr><td>pickup<%= @key["order_last_name"] %></td></tr>
		<tr><td>pickup<%= @key["order_delivery_address_street1"] %></td></tr>
		<tr><td>pickup<%= @key["order_delivery_address_street2"] %></td></tr>
		<tr><td>pickup<%= @key["order_delivery_address_city"] %></td></tr>
		<tr><td>pickup<%= @key["order_delivery_address_state"] %></td></tr>
		<tr><td>pickup<%= @key["order_delivery_address_zipcode"] %></td></tr>
		<tr><td>items</td></tr>
		<tr><td>total</td></tr>
		<%= for key <- @key["order_cart_items"] do %>
	    <tr><td>order items <%= key["item_id"] %></td></tr>
		<% end %>
		<tr><td>Instagram Link</td></tr>
		<tr><td>Contact Us</td></tr>
	</table>
	<br>
	<br>
	
	<div class='mobile'>
	  I'm only visible on mobile :)
	</div>
</html>

